@import "variables";

body, html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-theme;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background-color: $color-background;
}
